.tbt-pricing-table-desktop {
   display: grid;
   grid-template-columns: 1fr 26.3% 26.4% 26.3%;
}
.tbt-pricing-table-mobile {
   display: none;
}

@media(max-width: 767px) {
   .tbt-pricing-table-desktop {
      display: none;
   }
   .tbt-pricing-table-mobile {
      display: block;
   }
}

.tbt-plan-header {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
}

.tbt-plan-header.featured-plan {
   filter: drop-shadow(0px -22px 0px var(--featured-background-color));
}
.tbt-plan-footer.featured-plan {
   filter: drop-shadow(0px 22px 0px var(--featured-background-color));
}



.tbt-plan-price {
   display: flex;
   flex-direction: column;
   align-items: center;
   /* justify-content: flex-end; */
}



.tbt-plan-feature,
.tbt-plan-features {
   display: flex;
   flex-direction: column;
   align-items: center;
   /* justify-content: flex-end; */
}
.tbt-plan-feature-text {
   text-align: center;
}
.tbt-features-divider {
   grid-column: 1 / -1;
   position: relative;
   width: 100%;
   z-index: 2;
}
.tbt-features-divider:after {
   content: '';
   position: absolute;
   transform: translateY(-50%);
}


.tbt-plan-footer  {
   display: flex;
   flex-direction: column;
   align-items: center;
   /* justify-content: flex-end; */
}