.tbt-pricing-table-desktop {
   display: grid;
   grid-template-columns: 1fr 26.3% 26.4% 26.3%;
}

.tbt-plan-header {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
}